body
{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif
}

.main
{
    background-color: whitesmoke;
    margin: 20px;    
    bottom: 10px;    
}

#header
{
    background-color: blue;
    height: 200px;    
}

.menu
{
    display: inline-block;
    margin: 3px 25% 0px 25%;
    left: 25%;
    right:25%;
    background-color: magenta;
    width: 50%;
    height: 50px;
}

.menu--ul
{
    margin-top: 5px;;
    margin-bottom: 0px;
    display: inline-block;
    position: absolute;
    list-style-type: none;  
    margin-right: auto;  
}

.menu--ul--li
{
    float: left;
    margin: 5px;
}

.menu--ul--li--a
{
    color: green;
    text-decoration: none;
}

.section
{
    background-color: red;
    margin: 5px 100px 5px 100px;    
    height: auto;    
}
 
.section--info
{
    margin: 0px 10px;
    padding: 25px;
    background-color: yellow;
}

.section--info--title h3
{
    color: blue;    
}

.section--info--detail--img
{
    width: 300px;
    height: 200px;
    margin: 5px 25%;
}

.section--info--text
{
    text-align: justify;
    margin: 100px 0px;
}

.section--info-image--team
{
    margin: 10px 25% 5px 25%;
    padding-top: 30px;
    height: 350px;
    width: 540px;
}

.section--info--img--left
{
    float: left;
    width: 400px;
    height: 300px;
}

.section--info--text--rigth
{
    float: left;
    margin: 50px;
}

#imgServices
{
width: 100%;
height: 100%;
}

#imgTeam
{
height: 100%;
width: 100%;
}

.button
{
    padding: 10px;
    margin: 10px 30px;
    text-align: center;
    background-color: violet;
    border-radius: 10px;
    color: gray;    
}

.button:hover
{
    color: royalblue;
    font-size: 1.0em;
}

.line
{
    border: 2px solid red;
}

#imgLey
{
    width: 100%;
    height: 100%;
    
}

.footer
{   
    position: absolute;
    margin: 10px 0px 10px 0px;
    background-color: olive;
    left: 26px;
    right: 26px;
}

.footer--ul
{
    list-style-type: none;    
}

.footer--ul--li
{
    float: left;
    margin: 0px 10px;
}

.footer--a
{
    float: right;
    margin: 0px 10px 2px 0px;
}

.footer--contact
{
    margin: 30px;
    background-color: rebeccapurple;
    padding: 10px;
    
}

.footer--contact-logo
{
    display: block;
    margin: 20px 10px;
}

.footer--contact-logo-img
{
    width: 50px;
    height: 50px;
}

.footer--contact-logo-img:hover
{
    width: 52px;
    height: 52px;
}

#logo
{
    position: absolute;
    left: 25%;
    width: 50%;
    right: 25%;
    height: 200px;
}

#logo--image
{
    position: absolute;
    left: 25%;
    right: 25%;
    width: 200px;
    height: 200px;
}

#example
{
    display: inline-block;
}